body{
    background-image: url(../img/back.jpg);
    background-size: cover;
}
button{
    margin-top: 15px;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    border-radius:50px;
    background-color:#2b8bda;
    border-color:#2b8bda ;
    color: white;
    cursor: pointer;
}
.update{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius:50px;
    background-color:#ef3535;
    border-color:#ef3535 ;
    color: white;
    cursor: pointer;
}
.insert_c{
    margin-top: 15px;
    width: 100px;
    height: 50px;
    border-radius:50px;
    background-color:#ef3535;
    border-color:#ef3535 ;
    color: white;
    cursor: pointer;
}
.main{
    text-align: center;
}
table{
    margin-left: 550px;
    background-color:rgba(255, 255, 255, 0.9);
}
h1{
    color: white;
}
.table2{
    margin-left: 525px;
    background-color:rgba(255, 255, 255, 0.9);
}